<div class="c-d-flex c-w-100 c-justify-content-between">
    <div>

        <button mat-icon-button (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>
    </div>



    <button mat-icon-button class="profile-button" [matMenuTriggerFor]="menu">
    <img src="../../../assets/img/faces/marc.jpg">
  </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item><mat-icon>manage_accounts</mat-icon> Profile</button>
        <button mat-menu-item><mat-icon>manage_accounts</mat-icon>Update Password</button>
        <button mat-menu-item> <mat-icon>manage_accounts</mat-icon> Email</button>
        <button mat-menu-item [routerLink]="['/login']"><mat-icon>manage_accounts</mat-icon> Logout</button>
    </mat-menu>
</div>