<div class='main-login-container'>
    <div class='c-container'>

        <div class='c-row c-justify-content-between'>
            <!-- Login content container -->
            <div class=' c-col-xl-6 c-col-lg-6  c-col-md-12 c-col-xs-12 c-col-sm-12 login-content'>
                <h1> The Future of Aviation Management Software</h1>
                <h3>One Software Management Solution For All your need...</h3>
            </div>
            <!--End Login content container -->

            <!-- Login Form container -->
            <div class='c-col-xl-5 c-col-lg-5 c-col-md-12 c-col-xs-12 c-col-sm-12'>
                <div class='login-form-container'>
                    <div class="login-in-logo">
                        <img src="assets/img/logo.png">
                    </div>

                    <strong class='d-block mb-3 login-title'>
                        Welcome Back !
                    </strong>

                    <p class="login-description">Sign in to Poweraerosuites.</p>


                    <div class='form-login-card'>
                        <div class="c-mb-3">
                            <mat-form-field class='c-w-100 input-p0' appearance='outline'>
                                <mat-label>Email Address</mat-label>
                                <input matInput placeholder='Enter Email Address' type='email'>
                                <mat-icon matSuffix>perm_identity</mat-icon>
                            </mat-form-field>

                        </div>


                        <div>
                            <mat-form-field class='c-w-100 input-p0' appearance='outline'>
                                <mat-label>Password</mat-label>
                                <input matInput placeholder='Password'>
                                <button matSuffix mat-icon-button>
                                    <mat-icon>visibility</mat-icon>

                                </button>
                            </mat-form-field>

                        </div>

                        <div class="forgot-link text-right">
                            <a href="javascript:void(0)">Forgot Password</a>
                        </div>

                        <div class='c-mt-4'>
                            <button (click)="login()" class='login-btn' mat-raised-button color="primary" role='button' (click)='login()'>
                                Login
                            </button>

                        </div>
                    </div>


                    <div class="login-other-container">
                        <label>Sign in with</label>
                        <div class="login-other-inner-container">
                            <button mat-icon-button>
                                <img src="../../assets/img/Facebook_Logo.png">
                            </button>

                            <button mat-icon-button>
                                <img src="../../assets/img/twitter.png">
                            </button>

                            <button mat-icon-button>
                                <img src="../../assets/img/google.png">
                            </button>
                        </div>

                    </div>



                </div>
            </div>
            <!--End Login Form container -->


        </div>

    </div>


</div>