.c-flex-row {
    flex-direction: row !important;
}

.c-flex-column {
    flex-direction: column !important;
}

.c-flex-row-reverse {
    flex-direction: row-reverse !important;
}

.c-flex-column-reverse {
    flex-direction: column-reverse !important;
}

.c-flex-wrap {
    flex-wrap: wrap !important;
}

.c-flex-nowrap {
    flex-wrap: nowrap !important;
}

.c-flex-wrap-reverse {
    flex-wrap: wrap-reverse !important;
}

.c-justify-content-start {
    justify-content: flex-start !important;
}

.c-justify-content-end {
    justify-content: flex-end !important;
}

.c-justify-content-center {
    justify-content: center !important;
}

.c-justify-content-between {
    justify-content: space-between !important;
}

.c-justify-content-around {
    justify-content: space-around !important;
}

.c-align-items-start {
    align-items: flex-start !important;
}

.c-align-items-end {
    align-items: flex-end !important;
}

.c-align-items-center {
    align-items: center !important;
}

.c-align-items-baseline {
    align-items: baseline !important;
}

.c-align-items-stretch {
    align-items: stretch !important;
}

.c-align-content-start {
    align-content: flex-start !important;
}

.c-align-content-end {
    align-content: flex-end !important;
}

.c-align-content-center {
    align-content: center !important;
}

.c-align-content-between {
    align-content: space-between !important;
}

.c-align-content-around {
    align-content: space-around !important;
}

.c-align-content-stretch {
    align-content: stretch !important;
}

.c-align-self-auto {
    align-self: auto !important;
}

.c-align-self-start {
    align-self: flex-start !important;
}

.c-align-self-end {
    align-self: flex-end !important;
}

.c-align-self-center {
    align-self: center !important;
}

.c-align-self-baseline {
    align-self: baseline !important;
}

.c-align-self-stretch {
    align-self: stretch !important;
}

.m-auto {
    margin-left: auto;
    margin-right: auto;
}