.c-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .c-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .c-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .c-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .c-container {
        max-width: 1140px;
    }
}

@media (min-width: 3000px) {
    .c-container {
        max-width: 1920px;
    }
}

.c-container-fluid,
.c-container-sm,
.c-container-md,
.c-container-lg,
.c-container-xl,
.c-form-container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .c-container,
    .c-container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .c-container,
    .c-container-sm,
    .c-container-md {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .c-container,
    .c-container-sm,
    .c-container-md,
    .c-container-lg {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .c-container,
    .c-container-sm,
    .c-container-md,
    .c-container-lg,
    .c-container-xl {
        max-width: 1140px;
    }
}

@media (min-width: 1200px) {
    .c-form-container-fluid {
        max-width: 90%;
    }
}

@media (min-width: 3000px) {
    .c-container,
    .c-container-sm,
    .c-container-md,
    .c-container-lg,
    .c-container-xl {
        max-width: 1920px;
    }
}


/*flex style*/

.c-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.c-col-1,
.c-col-2,
.c-col-3,
.c-col-4,
.c-col-5,
.c-col-6,
.c-col-7,
.c-col-8,
.c-col-9,
.c-col-10,
.c-col-11,
.c-col-12,
.c-col,
.c-col-auto,
.c-col-xs-1,
.c-col-xs-2,
.c-col-xs-3,
.c-col-xs-4,
.c-col-xs-5,
.c-col-xs-6,
.c-col-xs-7,
.c-col-xs-8,
.c-col-xs-9,
.c-col-xs-10,
.c-col-xs-11,
.c-col-xs-12,
.c-col-xs,
.c-col-xs-auto,
.c-col-md-1,
.c-col-md-2,
.c-col-md-3,
.c-col-md-4,
.c-col-md-5,
.c-col-md-6,
.c-col-md-7,
.c-col-md-8,
.c-col-md-9,
.c-col-md-10,
.c-col-md-11,
.c-col-md-12,
.c-col-md,
.c-col-md-auto,
.c-col-lg-1,
.c-col-lg-2,
.c-col-lg-3,
.c-col-lg-4,
.c-col-lg-5,
.c-col-lg-6,
.c-col-lg-7,
.c-col-lg-8,
.c-col-lg-9,
.c-col-lg-10,
.c-col-lg-11,
.c-col-lg-12,
.c-col-lg,
.c-col-lg-auto,
.c-col-xl-1,
.c-col-xl-2,
.c-col-xl-3,
.c-col-xl-4,
.c-col-xl-5,
.c-col-xl-6,
.c-col-xl-7,
.c-col-xl-8,
.c-col-xl-9,
.c-col-xl-10,
.c-col-xl-11,
.c-col-xl-12,
.c-col-xl,
.c-col-xl-auto,
.c-col-xs-1,
.c-col-xs-2,
.c-col-xs-3,
.c-col-xs-4,
.c-col-xs-5,
.c-col-xs-6,
.c-col-xs-7,
.c-col-xs-8,
.c-col-xs-9,
.c-col-xs-10,
.c-col-xs-11,
.c-col-xs-12,
.c-col-xs,
.c-col-xs-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.c-col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.c-col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

.c-col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.c-col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.c-col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.c-col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.c-col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.c-col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.c-col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.c-col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.c-col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.c-col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.c-col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.c-col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 576px) {
    .c-col-sm {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .c-col-sm-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .c-col-sm-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .c-col-sm-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .c-col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .c-col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .c-col-sm-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .c-col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .c-col-sm-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .c-col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .c-col-sm-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .c-col-sm-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .c-col-sm-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .c-col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 570px) and (max-width: 767px) {
    .c-md-order-1 {
        order: 1;
    }
    .c-md-order-2 {
        order: 2;
    }
    .c-md-order-3 {
        order: 3;
    }
    .c-md-order-4 {
        order: 4;
    }
    .c-md-order-5 {
        order: 5;
    }
    .c-md-order-6 {
        order: 6;
    }
    .c-md-order-7 {
        order: 7;
    }
    .c-md-order-8 {
        order: 8;
    }
    .c-md-order-9 {
        order: 9;
    }
    .c-md-order-10 {
        order: 10;
    }
    .c-md-order-11 {
        order: 11;
    }
    .c-md-order-12 {
        order: 12;
    }
    .c-md-order-13 {
        order: 13;
    }
    .c-md-order-14 {
        order: 14;
    }
    .c-md-order-15 {
        order: 15;
    }
}

@media (min-width: 768px) {
    .c-col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .c-col-md-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .c-col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .c-col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .c-col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .c-col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .c-col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .c-col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .c-col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .c-col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .c-col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .c-col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .c-col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .c-col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .c-col-xl {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .c-col-xl-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .c-col-xl-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .c-col-xl-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .c-col-xl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .c-col-xl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .c-col-xl-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .c-col-xl-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .c-col-xl-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .c-col-xl-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .c-col-xl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .c-col-xl-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .c-col-xl-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .c-col-xl-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 575px) {
    .c-col-xs {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .c-col-xs-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .c-col-xs-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .c-col-xs-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .c-col-xs-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .c-col-xs-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .c-col-xs-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .c-col-xs-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .c-col-xs-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .c-col-xs-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .c-col-xs-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .c-col-xs-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .c-col-xs-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .c-col-xs-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .c-xs-order-1 {
        order: 1;
    }
    .c-xs-order-2 {
        order: 2;
    }
    .c-xs-order-3 {
        order: 3;
    }
    .c-xs-order-4 {
        order: 4;
    }
    .c-xs-order-5 {
        order: 5;
    }
    .c-xs-order-6 {
        order: 6;
    }
    .c-xs-order-7 {
        order: 7;
    }
    .c-xs-order-8 {
        order: 8;
    }
    .c-xs-order-9 {
        order: 9;
    }
    .c-xs-order-10 {
        order: 10;
    }
    .c-xs-order-11 {
        order: 11;
    }
    .c-xs-order-12 {
        order: 12;
    }
    .c-xs-order-13 {
        order: 13;
    }
    .c-xs-order-14 {
        order: 14;
    }
    .c-xs-order-15 {
        order: 15;
    }
}

@media (min-width: 992px) {
    .c-col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .c-col-lg-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .c-col-lg-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .c-col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .c-col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .c-col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .c-col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .c-col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .c-col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .c-col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .c-col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .c-col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .c-col-lg-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .c-col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.c-flex-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
}

.c-flex-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
}

.c-flex-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
}

.c-flex-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
}

.c-flex-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
}

.c-justify-content-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}

.c-justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.c-justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.c-justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.c-justify-content-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
}

.c-align-items-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
}

.c-align-items-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
}

.c-align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.c-align-items-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
}

.c-align-items-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}

.c-align-content-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
}

.c-align-content-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
}

.c-align-content-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
}

.c-align-content-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
}

.c-align-content-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
}

.c-align-content-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
}

.c-align-self-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
}

.c-align-self-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
}

.c-align-self-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
}

.c-align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
}

.c-align-self-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
}

.c-align-self-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
}