.c-h-100 {
    height: 100% !important;
}

.c-h-75 {
    height: 75% !important;
}

.c-h-50 {
    height: 50% !important;
}

.c-h-25 {
    height: 25% !important;
}

.c-w-100 {
    width: 100% !important;
}

.c-w-75 {
    width: 75% !important;
}

.c-w-50 {
    width: 50% !important;
}

.c-w-25 {
    width: 25% !important;
}

.c-h-auto {
    height: auto !important;
}

.c-w-auto {
    width: auto !important;
}

.mw-auto {
    min-width: auto !important;
}